.container {
    margin-top: 3%;
}
/* img{
    width: 100%;
    height: auto;
} */

.form_img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}
.form{
    background-color: rgb(91, 91, 91);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.add{
    width: auto;
    padding: 5px 20px;
}
.alert-box{
    display: none;
}
.width img{
    width: 75%;
}
.box{
    width: 87%;
}